.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    /* Add your logo styles here, e.g., width, height */
  }
  
  .menu {
    list-style: none;
    display: flex;
  }
  
  .menu li {
    margin-left: 20px;
  }
  
  .menu a {
    text-decoration: none;
    color: #333;
  }